$yellow: hsl(48, 100%, 50%);
$blue: hsl(219, 52%, 44%);
$light-blue: hsl(219, 52%, 54%);
$dark-blue: #13326A;
$dark-grey: hsl(0, 0%, 20%);
$grey: hsl(0, 0%, 70%);
$white: #FFFFFF;

$transition: 0.25s ease-in-out;